<!DOCTYPE html>
<html>
    <head>
        <title>Web Haiku Drafter | Shadow's Den</title>
        <link rel="stylesheet" href="static\css\styles.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">
    </head>
    <body>
        <header>
            <h1>Web Haiku Drafter</h1>
        </header>
        <div class = "stanza-background-container">
                <div class = "explainer">
                    <div>
                        <h2>What is a haiku?</h2>
                        <p><i>
                            A Haiku is a traditional form of Japanese poetry consisting of three lines. 
                            It is known for its brevity and concise nature. 
                            The format of a Haiku typically follows a specific structure: 
                            the first line contains five syllables, 
                            the second line contains seven syllables, 
                            and the third line contains five syllables again, for a total of 17. 
                            The concise structure and precise language of a Haiku allow for a powerful expression within a limited space.
                        </i> </p>
                    </div>
                    <div>
                        <h2>So how does this help?</h2>
                        <p><i>
                            In order to keep the poet honest, this website provides live syllable counting. 
                            You may also choose to change words to their synonym if that would be a better fit! 

                        </i> </p>
                        <p><i>
                           Selecting words shows a pop up of rhymes to inspire you and synonyms in case you find you've run into a syllable issue

                        </i> </p>
                    </div>
                    <div class = "settings">
                        <h3>Settings</h3>
                        <span class = "sub_settings">
                            <input type ="checkbox" id ="lineToggle"></input>
                            <label for = "lineToggle">Line number</label>
                        </span>
                    </div>
                </div>
                <div class = "stanza">
                    <p> Poem Title:</p>
                    <input type = "text" class = "line" placeholder = "Title here"></input> 
                    <p>Poet:</p>
                    <input type = "text" class = "line"value = "By:"></input> 
                </div>
                <div class = "stanza" id = "stanza">
                    <input placeholder="5 introductory syllables here" 
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this)"
                           />
                           <span class="syllable-count"></span><br>
                    <input placeholder="7 syllables here"
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this)"
                           />
                           <span class="syllable-count"></span><br>
                    <input placeholder="5 dramatic syllables here" 
                           type = "text" 
                           class = "line"
                           oninput = "handleChange(this)"
                           />
                           <span class="syllable-count"></span><br>
                </div>
                <div class = "button-holder">

                    <button onclick="Copy()" class = "generateButton"> Copy Poem! </button>
                    <button onclick="DownloadFile()" class = "generateButton"> Download Poem! </button>
                </div> 
        </div>

        <script src = "static\js\main.js">
           
        </script>
    </body>
</html>