<!DOCTYPE html>
<html id ="villanelle">
    <head>
        <title>Web Villanelle Drafter | Shadow's Den</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.10/htmx.min.js"></script>
    </head>
    <body>

        <div class = "stanza-background-container">
              <header>
                     <h1>Web Villanelle Drafter</h1>
              </header>
                <div class = "explainer">
                    <div>
                        <h3>What is a villanelle?</h3>
                        <p><i>
                            A Villanelle is a highly structured and intricate form of poetry that consists of 19 lines. 
                            It originated from the Italian pastoral song and was popularized in English literature during the 19th and 30th centuries. 
                            Villanelles often explore complex emotions, 
                            existential questions, or meditations on time, memory, and change. 
                            The strict structure challenges poets to craft each line with precision and to create a cohesive and powerful whole.
                        </i> </p>
                    </div>
                    <div>
                        <h3>So how does this help?</h3>
                        <p><i>
                           Selecting words shows a pop up of rhymes to inspire you and synonyms in case you find you've run into a syllable issue

                        </i> </p>
                    </div>
                    <div class = "settings">
                        <h3>Settings</h3>
                        <span class = "sub_settings">
                            <input type ="checkbox" id ="lineToggle" onclick="endWordsToggler()" checked></input>
                            <label for = "lineToggle">Live Automatic End Words Insertion</label>
                        </span>
                    </div>
                </div>
                <div class = "stanza">
                    <p> Poem Title:</p>
                    <input type = "text" class = "line" placeholder = "Title here"></input> 
                    <p>Poet:</p>
                    <input type = "text" class = "line"value = "By:"></input> 
                </div>
                <div class = "stanza" id = "stanza">
                    <input placeholder="A1" 
                           type = "text"
                           class = "line line_1"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 3}"
                           hx-indicator="#stanza_1"
                           />
                           <br><p class="syllable-count"></p> 
                    <input placeholder="B"
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 4}"
                           hx-indicator="#stanza_1"
                           />
                           <br><p class="syllable-count"></p> 
                    <input placeholder="A2" 
                           type = "text" 
                           class = "line line_3"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 5}"
                           hx-indicator="#stanza_1"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator" id = "stanza_1"></span>
                </div>
                <div class = "stanza" id = "stanza">
                    <input placeholder="A" 
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 6}"
                           hx-indicator="#stanza_2"
                           />
                           <br><p class="syllable-count"></p> 
                    <input placeholder="B"
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 7}"
                           hx-indicator="#stanza_2"
                           />
                           <br><p class="syllable-count"></p> 
                    <input placeholder="A1" 
                           type = "text" 
                           class = "line line_1"
                           oninput = "handleChange(this), setEndWords()"
                           onchange = "getEndWords(this,3)"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 8}"
                           hx-indicator="#stanza_2"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator"  id = "stanza_2"></span>
                </div>
                <div class = "stanza" id = "stanza">
                    <input placeholder="A" 
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 9}"
                           hx-indicator="#stanza_3"
                           />
                           <br><p class="syllable-count"></p> 
                    <input placeholder="B"
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 10}"
                           hx-indicator="#stanza_3"
                           />
                           <br><p class="syllable-count"></p> 
                    <input placeholder="A2" 
                           type = "text" 
                           class = "line line_3"
                           oninput = "handleChange(this), setEndWords()"
                           onchange = "getEndWords(this, 5)"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 11}"
                           hx-indicator="#stanza_3"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator"  id = "stanza_3"></span>
                </div>
                <div class = "stanza" id = "stanza">
                    <input placeholder="A" 
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 12}"
                           hx-indicator="#stanza_4"
                           />
                           <br><p class="syllable-count"></p> 
                    <input placeholder="B"
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 13}"
                           hx-indicator="#stanza_4"
                           />
                           <br><p class="syllable-count"></p> 
                    <input placeholder="A1" 
                           type = "text" 
                           class = "line line_1"
                           oninput = "handleChange(this), setEndWords()"
                           onchange = "getEndWords(this, 3)"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 14}"
                           hx-indicator="#stanza_4"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator"  id = "stanza_4"></span>
                </div> 
                <div class = "stanza" id = "stanza">
                    <input placeholder="A" 
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 15}"
                           hx-indicator="#stanza_5"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator"></span>
                    <input placeholder="B"
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 16}"
                           hx-indicator="#stanza_5"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator"></span>
                    <input placeholder="A2" 
                           type = "text" 
                           class = "line line_3"
                           oninput = "handleChange(this), setEndWords()"
                           onchange = "getEndWords(this, 3)"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 17}"
                           hx-indicator="#stanza_5"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator"  id = "stanza_5"></span>
                </div>
                <div class = "stanza" id = "stanza">
                    <input placeholder="A" 
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 18}"
                           hx-indicator="#stanza_6"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator"></span>
                    <input placeholder="B"
                           type = "text"
                           class = "line"
                           oninput = "handleChange(this), setEndWords()"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 19}"
                           hx-indicator="#stanza_6"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator"></span>
                    <input placeholder="A1" 
                           type = "text" 
                           class = "line line_1"
                           oninput = "handleChange(this), setEndWords()"
                           onchange = "getEndWords(this, 3)"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 20}"
                           hx-indicator="#stanza_6"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator"></span>
                    <input placeholder="A2" 
                           type = "text" 
                           class = "line line_3"
                           oninput = "handleChange(this), setEndWords()"
                           onchange = "getEndWords(this, 5)"
                           hx-trigger = "change"
                           hx-post = "/check-rhymes-nelle"
                           hx-swap="outerHTML"
                           hx-target="next"
                           hx-vals="js:{'endwords': objOfendWords, 'index': 21}"
                           hx-indicator="#stanza_6"
                           />
                           <br><p class="syllable-count"></p> <span class="loader htmx-indicator" id = "stanza_6"></span>
                </div>
                <div class = "button-holder">

                    <button onclick="Copy()" class = "generateButton"> Copy Poem! </button>
                    <button onclick="DownloadFile()" class = "generateButton"> Download Poem! </button>

                </div> 
        </div>

        <script src = "static\js\main.js">
           
        </script>
    </body>
</html>